/* ALBUMS */

.albums{
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  flex-wrap: wrap;
  border:1px solid black;
  margin: 0 auto;
  justify-content: center;
}
.album{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  padding: 1% 0;
  flex:1 1 350px;
  min-height: 800px;
  max-width: 400px;
}
.album-jacket{
  width:50%;
  height:auto;
}
.logo-music{
  width: 18%;
  height: 18%;
}
.liens{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo-music img{
  width: 100%;
  height:100%;
}

/* FORMULAIRES */
.html-newsletter, .body-newsletter{
  height: 100%;
  width: 100%;
  margin: 0;
}
.body-newsletter{
  background-image: url('images/newsletter-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.form-newsletter{

}
