/* HEADER */

header{
  width:100%;
  background-color: #161616;
  position: sticky;
  top:0;
}
header a{
  color:white;
  text-decoration: none;
}
nav{
  max-width:1300px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.2%;
}
.nav1, .nav2{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  height:50px;
}
.nav1{
  justify-content: flex-start;
  margin-left: 5%;
}
.nav1 img{
  height:50px;
  width: auto;
}
.nav1 a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav2{
  justify-content: space-around;
  white-space: nowrap;
  margin-right: 5%;
}
@media (max-width:799px) {
  .nav2{
    display: none;
  }
  .nav3{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    margin-right: 5%;
  }
}
@media (min-width:800px){
  .nav3{
    display:none;
  }
}
.nav-tool{
  width: 35px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}
.nav-tool-bar{
  background-color: white;
  margin: 1% 1% 1% 0%;
  width: 35px;
  height: 4px;
  border-radius: 2px;
}
#menu-déroulant, #menu-déroulant ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#menu-déroulant{
  width: 100%;
  height: 100%;
}
.test1{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 40px;
  margin-right: 0;
  margin-left: auto;
}
.test2{
  top:50px;
  position: absolute;
  visibility:hidden;
  background-color: #161616;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 25%;
}
.test2 li{
  display: flex;
  flex-direction: row;
}
.test2 li a{
  padding: 10% 0%;
  height: 100%;
  padding: 10% 10% 10% 0%;
  width: 100%;
  text-align:right;
}
#menu-déroulant :hover ul{
  visibility: visible;
}
/* PAGE 3 */

.body-albums{
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.albums{
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  flex-wrap: wrap;
  border:1px solid black;
  margin: 0 auto;
  justify-content: center;
}
.album{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  padding: 1% 0;
  flex:1 1 350px;
  min-height: 800px;
  max-width: 400px;
}
.album-jacket{
  width:50%;
  height:auto;
}
.logo-music{
  width: 18%;
  height: 18%;
}
.liens{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo-music img{
  width: 100%;
  height:100%;
}

/* FORMULAIRES */
.body-newsletter{
  margin:0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  color:white;
  align-items: center;
}

.html-newsletter, .body-newsletter{
  height: 100%;
  width: 100%;
  margin: 0;
}
.body-newsletter{
  background-image: url('ressources/newsletter-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;

}
.form-newsletter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  min-height: 50%;
  padding: 1%;
  margin-top: 5%;
}
.test{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.textfield{
  text-align: center;
  color:white;
}
.button-text{
  margin:2%;
  font-weight: bold;
  background-color: #630037;
  color:white;
  border: none;
  height: 60px;
}
.test input{
  flex:1 0 auto;
  padding: 1%;
  margin: 2%;
  background: none;
  border:2px solid white;
  height: 50px;
}
::placeholder{
  color:white;
  text-align: center;
}
label{
  display: none;
}
h2{
  text-align: center;
}
