body{
    display:flex;
    flex-direction: column;
    background:black;
    border:5px solid white;
    margin:0;
}

main{
    display:flex;
    flex-direction: column;
    margin:10%;
}

.bordure {
    border-bottom:1px solid white;
    border-top:1px solid white;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
   
}

p{
    font-family: 'Kanit', sans-serif;
    font-size: 300%;
    text-align: center;
    margin: 0;
    color: white;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.focus{
    display:flex;
    flex-direction: row; 
    margin-top:10%;
    margin-bottom: 5%;
}

.gfocus{
    width:50%;
}

.gfocus img{
    width:100%;
    
}

.dfocus{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:50%; 
    margin:1%;
}

.dfocus img{
    width:40%;    
}

.focuslign1{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.focuslign2{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:10%;
}

.galerie{
    display:flex;
    flex-direction: column; 
    margin-bottom: 5%;
}

.logo{
    display:flex;
    flex-direction: row; 
    justify-content: center;
    width: 100%;
}

.ligne{
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top:5%;
   
}

.ligne img{
    border:5px solid white;
    width:25%;
}

/*SITE*/

.fresque {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:5%;
    width:100%;
}

.column {
    flex: 25%;
    max-width: 40%;
    padding:0.5%;
}

.column img {
    margin-top: 2.5%;
    width: 100%;
}